*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F7F6FB;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 13px;
}
.navbar{
    background-color: #FFFFFF;
    top: 0;
    position: sticky;
}
.container{
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: auto auto auto;

}

.btn-default{
    background-color: #E84949;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    opacity: 0.7;
}
/* 
  Begin Navbar
  ================================================
*/
.navbar .container .brand{
    padding: 0.5rem;
}
.navbar .container .show-menu{
    margin: auto;
    display: none;
    padding: 20px;
    border: none;
    background-color: white;
    font-size: 30px;
    color: #E84949;
}

.navbar .container .action{
    padding: 14px;

}
.navbar .container .action .btn-default{
    float: inline-end;
    margin: auto;
}

.navbar .container .navbar-body{
    float: inline-end;
    padding: 17px;
}
.navbar .container .navbar-body .navbar-elements{
    padding: auto;
    display: flex;
    justify-content: space-between;
}
.navbar .container .navbar-body .navbar-elements .nav-item a{
    color: black;
    font-size: 18px;
}
.navbar .container .navbar-body .navbar-elements .nav-item a:hover{
    color:#E84949;
}
.navbar .container .navbar-body .navbar-elements .active i{
    color:#E84949;
}
.navbar .container .navbar-body .navbar-elements .active a{
    color:#E84949;
}

.navbar .container .navbar-body .navbar-elements .nav-item{
    display: inline;
    text-decoration: none;
}
.navbar .container .navbar-body .navbar-elements .nav-item a{
    text-decoration: none;
}


/* Mobile */
.mobile-menu{
    display: none;
    padding: 30px;
    /* height: 10px; */
    background-color:#343d68;
}
.mobile-menu .navbar-elements{
    list-style-type: none;
    font-size: 20px;
}
.mobile-menu .navbar-elements .nav-item a{
    text-decoration: none;
}
.mobile-menu .navbar-elements .nav-item a{
    color: white;
}
.mobile-menu .navbar-elements .nav-item a:hover{
    color: #E84949;
}

/* 
  End Navbar
  ================================================
*/


/* 
  Begin About Me
  ================================================
*/
.section-title{
    text-align: center;
    color: #E84949;
    margin-bottom: 30px;
}
.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
}

.section .column-1{
    display: flex;
    place-items: center;
}
.section .column-1 .content h1{
    margin-bottom: 30px;
}
.section .column-1 .content p{
    margin-bottom: 30px;
    font-size: 20px;
}
.section .column-1 span{
    font-weight: 100;
}

.section .column-2 .profile .picture img{
    float: inline-end;
}
/* 
  End About Me
  ================================================
*/


/* 
  Begin Skills
  ================================================
*/
.section .skills-column-1{
    display: flex;
    align-items: center;

}
.section .skills-column-1 .skills-content{
    width: 70%;
}
.section .skills-column-1 .skills-content p{
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 40px;
    text-align: center;
}
.section .skills-column-1 .skills-content .skills{
    display: flex;
    justify-content: space-between;
}
.section .skills-column-1 .skills-content .skills .skill-group{
    text-align: center;
    /* margin-right: 60px; */
}

.section .skills-column-1{
    display: grid;
}
.section .skills-column-2 .profile .picture img{
    float: inline-end;
}
/* 
  End Skills
  ================================================
*/

/* 
  Begin Projects
  ================================================
*/
.projects-section{
    /* display: block; */
    background-color: #343d68;
    /* padding: 25px; */
    margin-bottom: 30px;
    padding: 50px;
    
}
.projects-section .projects-container{
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    overflow-y: hidden;
}

.projects-section .projects-title{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.projects-section .projects-title h3{
    margin-bottom: 8px;
}

.projects-section .projects-column{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* height: 500px; */
    /* overflow-y: hidden; */
}
.projects-section .projects-column .slider i{
    color: #FFFFFF;
}
.projects-section .projects-column .slider i:hover{
    color: #E84949;
    cursor: pointer;
}
.projects-section .projects-column .project-card{
    border: 4px solid white;
    display: block;
    width: 381px;
    align-items: center;
    padding-bottom: 12px;
    margin-bottom: 40px;
    /* height: 420px; */
}
.projects-section .projects-container{
    position: relative;    
}
.projects-section .projects-container .view-more{
    display: flex;
    position: absolute;
    left: 50%;
    align-self: center;
    bottom: 0;
}

.projects-section .projects-column .project-card .picture{
    margin-bottom: 19px;
}
.projects-section .projects-column .project-card .description{
    overflow-wrap: break-word;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 19px;
}
.projects-section .projects-column .project-card .description p{
    font-size: 16px;
}
.projects-section .projects-column .project-card .link{
    margin-bottom: 12px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    margin: auto;
}
.projects-section .projects-column .project-card .link:hover{
    background-color: #E84949;
    border: 2px solid #E84949;
}
.projects-section .projects-column .project-card .link a{
    color: #FFFFFF;
    text-decoration: none;
    /* padding: 20px */
}


/* 
  End Projects
  ================================================
*/
/* 
  Begin Contacts
  ================================================
*/
.section .contact-column-2 form .input-group{
    margin-bottom: 43px;
    text-align: center;
}
.section .contact-column-1{
    display: flex;
    align-items: center;
}
.section .contact-column-1 img{
    width: 80%;
}
.section .contact-column-2 form .input-group input, .section .contact-column-2 form .input-group textarea{
    width: 100%;
    border: none;
    border: 0.5px solid #838383;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.section .contact-column-2 form .input-group input{
    height: 53px;
    width: 420px;
    padding-left: 20px;
}

.section .contact-column-2 form .input-group textarea{
    height: 158px;
    width: 420px;
    padding: 13px;
}
.section .contact-column-2 form .input-group button{
    display: flex;
    margin: auto;
    align-items: center;
    padding: 8px 16px 8px 16px;
    background-color: #343d68;
    color: #fffdfd;
    font-size: 18px;
    border-radius: 4px;
}
.section .contact-column-2 form .input-group button img{
    margin-left: 12px;
}
.section .contact-column-2 form .input-group button:hover{
    background-color: #E84949;
    border: none;
    cursor: pointer;
}
/* 
  End Contacts
  ================================================
*/
/* 
  Start Footer
  ================================================
*/
.footer{
    display: flex;
    align-items: center;
    /* padding: 0px 100px 100px 0px; */
    /* padding-top: 100px; */
    /* padding-bottom: 100px; */
    height: 300px;
    background-image: url('assets/images/footerwave.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.footer .content{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #FFFFFF;
    font-size: 15px;

}
/* .footer .content .social{
    border: 1px solid white;
    width: 100%;
} */
.footer .content .social p{
    margin-bottom: 34px;
}
.footer .content .social .icons{
    display: flex;
    justify-content: space-between;
}
.footer .content .social a{
    color: #0acbbf;
    text-decoration: none;
}
.footer .content .social .icons a{
    color: #FFFFFF;
}
.footer .content .social .icons a:hover{
    color: #E84949;
}

/* 
  End Footer
  ================================================
*/



/* Sign In */
.signin-content img{
    margin: 15px;
}
.signin-content .column-2{
    background-image:url('assets/images/profile.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50% 0; */
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */

    width: 80%;
    float: inline-end;
    height: 100vh;
    /* opacity: 0.6; */
    display: flex;
    align-items: center;
}
.signin-content .column-2:before{
    opacity: 0.5;
}
.signin-content .column-2 .signin{
    position: absolute;
    background-color: #343d68;
    height: auto;
    width: 400px;
    left: 0;
    margin-left: 80px;
    padding: 2rem;
    color:#FFFFFF;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -5px -5px 5px 10px #343d68, -5px -5px 5px 10px #0acbbf;
    
}
.signin-content .column-2 .signin h3{
    text-align: center;
    margin-bottom: 20px;
}

.signin-content .column-2 .signin .input-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.signin-content .column-2 .signin .input-group label{
    margin-bottom: 20px;
}
.signin-content .column-2 .signin .input-group input{
    border: 1px solid 0acbbf;
    border-radius: 20px;
    background: none;
    display: block;
    width: 100%;
    height: 69px;
    padding-left: 5px;
    font-size: 20px;
    color: #FFFFFF;
}
.signin-content .column-2 .signin .input-group input::placeholder{
    padding: 20px;
}
.error-message {
    color: rgb(246, 97, 97);
    font-size: 15px;
    font-weight: 700;
}
/* End Sign In */

.signin-content .column-2 .signin .input-group button{
    align-items: center;
    padding: 8px 16px 8px 16px;
    color: #fffdfd;
    font-size: 18px;
    border-radius: 4px;
    background-color: #E84949;
    border: none;
    cursor: pointer;
}

/* Start Blogs */
.blogs-hero{
    background: url('assets/images/blogs-background.png');
    background-position: center;
    background-size: cover;
    height: 585px;
    display: flex;
    align-items: center;
}
.blogs-hero h1{
    font-size: 100px;
    margin-left: 10%;
    color:#343d68;
}

.main {
    grid-area: main;
    padding: 2rem;
    /* order: 2; */
    /* width: 00px */
}
.right {
    grid-area: right;
    padding: 2rem;
    width: 350px;
    /* order: 1; */
    /* text-align: center; */
}
.blogs-container{
    display: grid;
    grid-template-areas: 'main main right';
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.blogs-container .blog-card{
    display: flex;
    height: 250px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: #ededed;
}
.blogs-container .blog-card .blog-picture{
    width: 30%;
}
.blogs-container .blog-card .blog-picture img{
    height: 100%;
    width: 100%;
}
.blogs-container .blog-card .description{
    width: 400px;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.blogs-container .blog-card .description h2{
    margin-bottom: 30px;
}
.blogs-container .blog-card .description h2 a{
    text-decoration: none;
    color: black;
}
.blogs-container .blog-card .description .text{
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    hyphens: auto;
    width: 350px;
}
.blogs-container .blog-card .description .card-footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.blogs-container .blog-card .description .card-footer .info{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.blogs-container .blog-card .description .card-footer .info a{
    padding: 5px 10px 5px 10px;
    border: 1px solid #E84949;
    border-radius: 10px;
    color: #E84949;
}
.blogs-container .blog-card .description .card-footer .info a:hover{
    color: white;
    background-color: #E84949;
    cursor: pointer;;
}

.blogs-container .page-numbers{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    width: 500px;
}
.blogs-container .page-numbers .previous, .blogs-container .page-numbers .next{
    border-radius: 10px;
    background-color: #343d68;
    padding: 10px;
    width: 90px;
    color: #FFFFFF;
    text-align: center;
}
.blogs-container .page-numbers .number{
    border-radius: 30px;
    color: #343d68;
    text-align: center;
    width: 20px;
    background-color: #EDEDED;
    padding: 10px;
}
.blogs-container .page-numbers .active{
    background-color: #343d68;
    color: #FFFFFF;
}
.blogs-container .page-numbers a{
    /* background-color: #343d68; */
    color: #FFFFFF;
    text-decoration: none;
}
.right h4{
    text-align: center;
    margin-bottom: 30px;
}

.right .filters form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.right .filters form .input-group{
    display: flex;
    flex-direction: column;
}
.right .filters form .input-group input{
    padding: 0.5rem;
    border: 1px solid rgb(55, 54, 54);
    border-radius: 10px;
}
.right .filters form button{
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #E84949;
    color: #FFFFFF;
    width: 60px;
}
.right .filters form button i{
    font-size: 20px;
}
.right .tags{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.right .tags p{
    background-color: white;
    padding: 10px;
    border: 1px solid rgb(55, 54, 54);
    border-radius: 10px;
    white-space: nowrap;
    margin-left: 3px;
    margin-top: 5px;
}


/* Single blog */
.blogs-container .main .picture img{
    width: 90%;
    border-radius: 20px;
    margin-bottom: 20px;
}
.blogs-container .main .title{
    margin-bottom: 20px;
}
.blogs-container .main .comment{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.blogs-container .main .comment .icons{
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.blogs-container .main .comment .icons span{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.blogs-container .main .comment .icons span a{
    text-decoration: none;
    color: black;
}
.blogs-container .main .content{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem
}
.blogs-container .main .content p{
    font-size: 15px;
}
.blogs-container .main .comment-form{
    width: 100%;
}
.blogs-container .main .comment-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* align-items: center; */
}
.blogs-container .main .comment-form .info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.blogs-container .main .comment-form form textarea{
    width: 100%;
    height: 95px;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    border-bottom: 4px solid black;
    /* padding: 10px; */
}
.blogs-container .main .comment-form form button{
    padding: 8px 16px 8px 16px;
    background-color: #E84949;
    color: #fffdfd;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #E84949;
}

/* End blogs */
@media screen and (max-width: 991px){
    .container{
        padding-left: 0;
        padding-right: 0;
        grid-template-columns: auto auto;

    }
    /* 
        Begin Navbar
        ================================================
    */
    .navbar .container .brand{
        display: none;
    }
    .navbar .container .show-menu{
        display: block;
        margin-left: 20px;
    }
    .navbar .container .navbar-body{
        display: none;
    }
    .navbar .container .action{
        align-items: end;
    }

    /* 
        End Navbar
        ================================================
        */


    /* 
        Start About Me
        ================================================
    */
    .section{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .section .column-2{
        order: -1;
    }
    .section .column-2 .profile .picture{
        display: flex;
    }
    .section .column-2 .profile .picture img{
        margin: auto;
    }
    .section .column-1 .content{
        margin-top: 50px;
    }

    /* Skills Page */
    .section .skills-column-1 .skills-content{
        width: 100%;
        margin-top: 80px;
    }
    .section .skills-column-1 .skills-content .skills{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        
    }
    .section .skills-column-1 .skills-content .skills .skill-group{
        margin-bottom: 60px;
    }
    .section .skills-column-2{
        order: -1;
    }
    .section .skills-column-2 .profile .picture{
        display: flex;
    }
    .section .skills-column-2 .profile .picture img{
        width: 70%;
        margin: auto;
    }
    /* End Skills Page */

    /* Begin Projects */
    .projects-section{
        padding: 20px;
    }
    .projects-section .projects-column{
        display: flex;
        overflow: hidden;
        transition: transform 0.5s ease-in-out;
    }
    
    .projects-section .projects-column .slider{
        display: none;
    }
    .projects-section .projects-column .project-card{
        margin: auto;
        margin-bottom: 10%;
    }
    /* End Projects */
    /* Start Contacts */
    
    .section .contact-column-1 img{
        padding: 5%;
        margin: auto;
    }
    /* End Contacts */

    /* Footer */
    .footer{
        /* display: block; */
        align-items: center;
        width: 96%;
        padding: 10px;
        background-size: cover;
        /* width */
    }
    .footer .content{
        display: block;
        font-size: 20px;

    }
    
    /* End Footer */

    /* Start Sign In */
    .signin-content img{
        display: block;
        margin: auto;
    }
    .signin-content .column-2{
        float: none;
        width: 100%;
    }
    .signin-content .column-2 .signin{
        width: 100%;
        margin: auto;
        position: relative;
    }
    /* End Sign In */

    /* Begin Blogs */
    .blogs-container{
        padding-left: 0;
        padding-right: 0;
        display: block;
    }
    .blogs-container .right{
        order: -2;
    }
    .blogs-container .blog-card{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .blogs-container .blog-card .blog-picture{
        width: 100%;
    }
    .blogs-container .page-numbers{
        width: 100%;
    }
    /* End Blogs */

    /* Single blog */
    .blogs-container .main .picture img{
        width: 100%;
        border-radius: 20px;
    }
    .blogs-container .main .content{
        width: 100%
    }
    .blogs-container .main .comment .icons{
        width: 100%;
    }
}